<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- IOC container 에서 객체생성 -->
	<!-- xml파일을 로딩할때 객체가 생성됨 -->
	<!-- <bean id="asdf" class="kr.hs.study.beans.TestBean"/> -->

	<!-- 설정파일을 java파일로 만들었으니 자바 파일을 찾아라 (annotation) -->
	<context:annotation-config />
	<context:component-scan
		base-package="kr.hs.study.beans" />
	<bean id="test" class="kr.hs.study.beans.TestBean1" />
	
	<bean id="test10" class="kr.hs.study.beans.TestBean6">
		<property name="data1" value="70"/>
		<property name="data2" value="77.77"/>
		<property name="data3" ref="d1"/>
		<property name="data4" ref="d1"/>
	</bean>
</beans>
